<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("comum/cabecalho") %>

	<%- defineContent("espaco-head") %>
</head>
<body>
<style>
	.caixa2 {
		padding: 20px;
		background-color: #f0f0f0;
	}
</style>
	<div class="limitador">

		<%- include("comum/barra") %>

		<div class="conteudo">

			<%- body %>

		</div>

		<div class="caixa2"></div>

		<%- include("comum/rodape") %>

		<%- defineContent("espaco-rodape") %>

	</div>

</body>
</html>
