<div class="container-fluid">

	<h1 class="mt-5 titulodesc">
		Locais
	</h1>
	<p class="dd">
		Lugares para você e seu colarinho poderem passear sem inseguranças e colaborando pela nossa comunidade PCD!
	</p>

</div>

<div class="container-fluid">

	<!--
	<div class="row">
		<div class="col-sm-6 col-lg-4 offset-sm-5 offset-lg-0">
			<div class="card shadow my-5">
				<div class="card-body">
					Insira a Região
				</div>
			</div>
		</div>
	</div>
	-->

	<hr class="my-3" />

<!-- Abinhas -->

	<ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
		<% for (let i = 0; i < tipos.length; i++) { %>
		<li class="nav-item" role="presentation">
			<button class="nav-link <%= (i ? '' : 'active') %>" id="tab-tipo-<%= tipos[i].idtipo %>" data-toggle="tab" data-target="#painel-<%= tipos[i].idtipo %>" type="button" role="tab" aria-controls="painel-<%= tipos[i].idtipo %>">
				<img src="/public/img/<%= tipos[i].idtipo %>.png" width="32" />
				<br />
				<%= tipos[i].nm_tipo %>
			</button>
		</li>
		<% } %>
	</ul>

	<hr class="my-4" />

<!-- Mudança de cor dos cards de locais -->
	<div class="tab-content" id="myTabContent">
		<% for (let i = 0; i < tipos.length; i++) { %>
		<div class="tab-pane fade <%= (i ? '' : 'show active') %>" id="painel-<%= tipos[i].idtipo %>" role="tabpanel" aria-labelledby="tab-tipo-<%= tipos[i].idtipo %>">
			<div class="container-fluid">
				<div class="row justify-content-center">

			<%
				let classeAtual = 0;
				let temLocal = false;
				let classes = [
					"text-white bg-secondary",
					"text-white bg-success",
					"bg-warning",
					"text-white bg-info",
					"bg-light"
				];
			%>
			<% for (let j = 0; j < locais.length; j++) { let local = locais[j]; if (local.idtipo !== tipos[i].idtipo) { continue; } temLocal = true; %>

			<!-- Cards locais-->
			<div class="col-sm-6 col-md-4 locais">
				<div class="card shadow <%= classes[classeAtual % classes.length] %>">
					<div class="p-2" style="background-color: #ffffff; border-top-left-radius: 4px; border-top-right-radius: 4px;">
						<a href="/editar?idlocal=<%= local.idlocal %>" style="text-decoration: none;">
							<img src="/public/img/<%= local.idtipo %>.png" class="card-img-top" style="display: block; width: 50%; margin: 0px auto;" alt="...">
						</a>
					</div>
					<div class="card-body">
						<h5 class="card-title">
							<%= local.nm_local %>
						</h5>
						<p class="card-text">
							<%= local.end_local %>, <%= local.num_local %>, <%= local.cidade_local %> - <%= local.uf_local %>
						</p>
						<p class="card-text">
							<%= (local.estrelas === 1 ? "1 estrela" : (local.estrelas + " estrelas")) %>
						</p>
						<button type="button" class="btn btn-danger btn-sm" onclick="excluir(<%= local.idlocal %>)">Excluir</button>
					</div>
				</div>
				<!--
				<div class="fundolocais">
					<p>
						<%= local.nm_local %>
					</p>
					<p>
						******
					</p>
				</div>
				-->
			</div>

			<%
					classeAtual++;
					//if (classeAtual >= classes.length) {
					//	classeAtual = 0;
					//}
				}
			%>

			<% if (!temLocal) { %>
			<div class="col text-center">
				<div class="my-5">
					Nada para ver aqui...
					<br/>
					Por enquanto 😅
				</div>
			</div>
			<% } %>

				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>

<%- contentFor("espaco-head") %>
<style type="text/css">
	.link-local {
		display: inline-block;
		font-size: 0.75rem;
		vertical-align: bottom;
		padding: 1.5rem;
	}

	.link-local + .link-local {
		margin-left: 15px;
	}

    .dd {
        font-size: 20px;
        margin-bottom: 50px;
        text-align: center;
        color: grey;
    }

</style>

<script>
	async function excluir(idlocal) {
		if (!confirm("Excluir o local?")) {
			return;
		}

		try {

			let response = await fetch("/excluir?idlocal=" + idlocal, {
				method: "DELETE"
			});

			if (!response.ok) {
				alert("Ocorreu um erro ao excluir o local :(");
				return;
			}

			alert("Local excluído com sucesso! 😁");

			window.location.reload();
		} catch (ex) {
			alert("Ocorreu um erro de rede ao excluir o local: " + ex.message)
		}
	}
</script>