<div class="container-fluid">

	<!--
	<div class="row">
		<div class="col-sm-6 col-lg-4 offset-sm-5 offset-lg-0">
			<div class="card shadow my-6">
				<div class="card-body">
					Insira a Região
				</div>
			</div>
		</div>
	</div>
	-->

	<hr/>
	<ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
		<% for (let i = 0; i < tipos.length; i++) { %>
		<li class="nav-item" role="presentation">
			<button class="nav-link <%= (i ? '' : 'active') %>" id="tab-tipo-<%= tipos[i].idtipo %>" data-toggle="tab" data-target="#painel-<%= tipos[i].idtipo %>" type="button" role="tab" aria-controls="painel-<%= tipos[i].idtipo %>">
				<img src="/public/img/<%= tipos[i].idtipo %>.png" width="32" />
				<br />
				<%= tipos[i].nm_tipo %>
			</button>
		</li>
		<% } %>
	</ul>
	<div class="tab-content" id="myTabContent">
		<% for (let i = 0; i < tipos.length; i++) { %>
		<div class="tab-pane fade <%= (i ? '' : 'show active') %>" id="painel-<%= tipos[i].idtipo %>" role="tabpanel" aria-labelledby="tab-tipo-<%= tipos[i].idtipo %>">
			<div class="container-fluid fundodolocal">
				<div class="row">
		
			<% for (let j = 0; j < locais.length; j++) { let local = locais[j]; if (local.idtipo !== tipos[i].idtipo) { continue; } %>

			<div class="col-md-3 locais">
				<div class="fundolocais">
					<p>
						<%= local.nm_local %>
					</p>
					<p>
						******
					</p>
				</div>
			</div>

			<% } %>
				</div>
			</div>
		</div>
		<% } %>
	</div>

<%- contentFor("espaco-head") %>
<style type="text/css">
	.link-local {
		display: inline-block;
		font-size: 0.75rem;
		vertical-align: bottom;
		padding: 1.5rem;
	}

	.link-local + .link-local {
		margin-left: 15px;
	}
</style>
