<div class="container-fluid">

	<div class="row">
		<div class="col-sm-6 col-lg-4 offset-sm-6 offset-lg-8">
			<div class="card shadow my-5">
				<div class="card-body">
					Insira a Região
				</div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="text-center">
		<a class="link-local" href="...">
			<img src="/public/img/favoritos.png" width="30" />
			<br />
			Favoritos
		</a>
		
		<a class="link-local" href="...">
			<img src="/public/img/hotel.png" width="30" />
			<br />
			Hotéis
		</a>

		<a class="link-local" href="...">
			<img src="/public/img/caneca-de-cerveja.png" width="30" />
			<br />
			Bares
		</a>

		<a class = "link-local" href = "...">
			<img src = "/public/img/restaurante.png" width ="30"/>
			<br />
			Restaurantes
		</a>

		<a class = "link-local" hred = "...">
			<img src = "/public/img/parque.png" width = "30"/>
			<br />
			Lazer
		</a>

		<a class = "link-local" hred = "...">
			<img src = "/public/img/loja.png" width = "30"/>
			<br />
			Lojas
		</a>

		<a class = "link-local" hred = "...">
			<img src = "/public/img/correr-atras.png" width = "30"/>
			<br />
			Infantil
		</a>

		<a class="link-local" href="...">
			<img src="/public/img/turismo.png" width="30" />
			<br />
			Turismo
		</a>

		<a class="link-local" href="...">
			<img src="/public/img/girassol.png" width="30" />
			<br />
			Parceiros PCD
		</a>

	</div>

	<h1>Sou a página de produtos!</h1>

	<p>Listagem de produtos (<%= produtos.length %> produtos no total)</p>

	<% for (let contador = 0; contador < produtos.length; contador++) { %>

		<h2>
			<%= produtos[contador].nome %>
		</h2>

		<p>
			Id: <%= produtos[contador].id %>
		</p>

		<p>
			Valor: R$ <%= produtos[contador].valor %>
		</p>

		<hr />

	<% } %>

</div>

<%- contentFor("espaco-head") %>
<style type="text/css">
	.link-local {
		display: inline-block;
		font-size: 0.75rem;
		vertical-align: bottom;
		padding: 1.5rem;
	}

	.link-local + .link-local {
		margin-left: 15px;
	}
</style>
