<div class="container-fluid">

	<!--
	<div class="row">
		<div class="col-sm-6 col-lg-4 offset-sm-5 offset-lg-0">
			<div class="card shadow my-5">
				<div class="card-body">
					Insira a Região
				</div>
			</div>
		</div>
	</div>
	-->

	<hr class="my-4" />

	<ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
		<% for (let i = 0; i < tipos.length; i++) { %>
		<li class="nav-item" role="presentation">
			<button class="nav-link <%= (i ? '' : 'active') %>" id="tab-tipo-<%= tipos[i].idtipo %>" data-toggle="tab" data-target="#painel-<%= tipos[i].idtipo %>" type="button" role="tab" aria-controls="painel-<%= tipos[i].idtipo %>">
				<img src="/public/img/<%= tipos[i].idtipo %>.png" width="32" />
				<br />
				<%= tipos[i].nm_tipo %>
			</button>
		</li>
		<% } %>
	</ul>

	<hr class="my-4" />

	<div class="tab-content" id="myTabContent">
		<% for (let i = 0; i < tipos.length; i++) { %>
		<div class="tab-pane fade <%= (i ? '' : 'show active') %>" id="painel-<%= tipos[i].idtipo %>" role="tabpanel" aria-labelledby="tab-tipo-<%= tipos[i].idtipo %>">
			<div class="container-fluid">
				<div class="row justify-content-center">

			<%
				let classeAtual = 0;
				let temLocal = false;
				let classes = [
					"text-white bg-secondary",
					"text-white bg-success",
					"bg-warning",
					"text-white bg-info",
					"bg-light"
				];
			%>
			<% for (let j = 0; j < locais.length; j++) { let local = locais[j]; if (local.idtipo !== tipos[i].idtipo) { continue; } temLocal = true; %>

			<div class="col-sm-6 col-md-4 locais">
				<div class="card shadow <%= classes[classeAtual % classes.length] %>">
					<img src="/public/img/balao.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">
							<%= local.nm_local %>
						</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the bulk of the card's content.
						</p>
					</div>
				</div>
				<!--
				<div class="fundolocais">
					<p>
						<%= local.nm_local %>
					</p>
					<p>
						******
					</p>
				</div>
				-->
			</div>

			<%
					classeAtual++;
					//if (classeAtual >= classes.length) {
					//	classeAtual = 0;
					//}
				}
			%>

			<% if (!temLocal) { %>
			<div class="col text-center">
				<div class="my-5">
					Nada para ver aqui...
					<br/>
					Por enquanto 😅
				</div>
			</div>
			<% } %>

				</div>
			</div>
		</div>
		<% } %>
	</div>

<%- contentFor("espaco-head") %>
<style type="text/css">
	.link-local {
		display: inline-block;
		font-size: 0.75rem;
		vertical-align: bottom;
		padding: 1.5rem;
	}

	.link-local + .link-local {
		margin-left: 15px;
	}
</style>
